/API/Win32/Debug/*.exe
/API/Win32/Debug/*.dcu
/API/Win32/Debug/bd.ini
/API/__history/*.~28~
/API/__history/*.~29~
/API/__history/*.~30~
/API/__history/*.~31~
/API/__history/*.~32~
/API/__history/*.~33~
/API/__history/*.~34~
/API/__history/*.~35~
/API/__history/*.~36~
/API/__history/*.~37~
/API/__history/*.~1~
/API/src/Controller/__history/*.~36~
/API/src/Controller/__history/*.~37~
/API/src/Controller/__history/*.~38~
/API/src/Controller/__history/*.~39~
/API/src/Controller/__history/*.~40~
/API/src/Controller/__history/*.~41~
/API/src/Controller/__history/*.~42~
/API/src/Controller/__history/*.~43~
/API/src/Controller/__history/*.~44~
/API/src/Controller/__history/*.~45~
/API/src/Controller/__history/*.~1~
/API/src/Controller/__history/*.~12~
/API/src/Controller/__history/*.~13~
/API/src/Controller/__history/*.~14~
/API/src/Controller/__history/*.~15~
/API/src/Controller/__history/*.~16~
/API/src/Controller/__history/*.~17~
/API/src/Controller/__history/*.~18~
/API/src/Controller/__history/*.~19~
/API/src/Controller/__history/*.~20~
/API/src/Controller/__history/*.~21~
/API/src/Controller/__history/*.~25~
/API/src/Controller/__history/*.~26~
/API/src/Controller/__history/*.~27~
/API/src/Controller/__history/*.~28~
/API/src/Controller/__history/*.~29~
/API/src/Controller/__history/*.~30~
/API/src/Controller/__history/*.~31~
/API/src/Controller/__history/*.~32~
/API/src/Controller/__history/*.~33~
/API/src/Controller/__history/*.~34~
/API/src/Controller/__history/*.~2~
/API/src/DAO/__history/*.~18~
/API/src/DAO/__history/*.~19~
/API/src/DAO/__history/*.~20~
/API/src/DAO/__history/*.~21~
/API/src/DAO/__history/*.~22~
/API/src/DAO/__history/*.~23~
/API/src/DAO/__history/*.~24~
/API/src/DAO/__history/*.~25~
/API/src/DAO/__history/*.~26~
/API/src/DAO/__history/*.~27~
/API/src/DAO/__history/*.~10~
/API/src/DAO/__history/*.~11~
/API/src/DAO/__history/*.~2~
/API/src/DAO/__history/*.~3~
/API/src/DAO/__history/*.~4~
/API/src/DAO/__history/*.~5~
/API/src/DAO/__history/*.~6~
/API/src/DAO/__history/*.~7~
/API/src/DAO/__history/*.~8~
/API/src/DAO/__history/*.~9~
/API/src/DAO/__history/*.~12~
/API/src/DAO/__history/*.~13~
/API/src/DAO/__history/*.~14~
/API/src/Model/__history/*.~10~
/API/src/Model/__history/*.~11~
/API/src/Model/__history/*.~12~
/API/src/Model/__history/*.~3~
/API/src/Model/__history/*.~4~
/API/src/Model/__history/*.~5~
/API/src/Model/__history/*.~6~
/API/src/Model/__history/*.~7~
/API/src/Model/__history/*.~8~
/API/src/Model/__history/*.~9~
/API/src/Model/__history/*.~1~
/API/src/Model/__history/*.~2~
/API/src/Service/__history/*.~19~
/API/src/Service/__history/*.~20~
/API/src/Service/__history/*.~21~
/API/src/Service/__history/*.~22~
/API/src/Service/__history/*.~23~
/API/src/Service/__history/*.~24~
/API/src/Service/__history/*.~25~
/API/src/Service/__history/*.~26~
/API/src/Service/__history/*.~27~
/API/src/Service/__history/*.~28~
/API/src/Service/__history/*.~29~
/API/src/Service/__history/*.~30~
/API/src/Service/__history/*.~31~
/API/src/Service/__history/*.~32~
/API/src/Service/__history/*.~60~
/API/src/Service/__history/*.~61~
/API/src/Service/__history/*.~62~
/API/src/Service/__history/*.~63~
/API/src/Service/__history/*.~64~
/API/src/Service/__history/*.~65~
/API/src/Service/__history/*.~66~
/API/src/Service/__history/*.~67~
/API/src/Service/__history/*.~68~
/API/src/Service/__history/*.~69~
/API/src/Service/__history/*.~1~
/API/src/Service/__history/*.~2~
/API/src/Utils/__history/*.~1~
/API/src/Utils/__history/*.~2~
/API/src/Utils/__history/*.~3~
/API/src/Utils/__history/*.~4~
/API/src/Utils/__history/*.~5~
/API/src/Utils/__history/*.~6~
/API/src/Utils/__history/*.~7~
